pydantic
langchain
langgraph
langchain-core
langchain-community
python-dotenv
langchain-groq
arxiv
wikipedia
langchain-tavily
langsmith
langchain-mcp-adapters
mcp
langgraph-checkpoint-sqlite
langgraph-cli[inmen]
langgraph-api
PyMuPDF
transformers
torch
numpy
scikit-learn
pillow
langchain-text-splitters